@{
    ViewData["Title"] = "Index";
}
<h1>C# > JavaScript</h1>
<h2>Download the .NET Client below:</h2>
<p><a href="~/download/ChessFabrickClient.exe">ChessFabrickClient.exe</a></p>
<h2>Or build it yourself from the link below:</h2>
<p><a href="https://github.com/veliborb/ChessFabrick/tree/master/ChessFabrickFormsApp">ChessFabrickFormsApp GitHub Page</a></p>
