@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p><img src="~/images/eye.png" /></p>
<p>Nothing you do on this website is private.</p>
<p>Even your accounts are insecure.<br/>The password is disregarded completely, you can log in just using your Name.</p>
